body {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  padding: 5px 10px;
  font-size: 24px;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  background-color: darkgreen;
  color: white;
  border: 5px solid white;
}

table {
  border-collapse: collapse;
  font-size: 20px;
  margin: 20px 10px;
}

th, td {
  border: 3px gray solid;
  padding: 3px 5px;
  background-color: white;
}

.containerRow.reverse {
  flex-direction: row-reverse;
}

.containerRow {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  justify-self: center;
}

.containercolumn {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.main-container {
  flex-grow: 1;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  margin: 15px 20px;
}

#options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#options-container option {
  background-color: darkgreen;
  border: 5px white solid;
  margin: 3px;
  padding: 3px 10px;
  color: lightgray;
}

#scorecard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#playerCount {
  width: 150px;
  margin: 0;
}

#teeBoxes {
  justify-content: center;
}

#golfScoreArrows {
  display: flex;
}

#player-count-button-container {
  align-self: start;
}

.score {
  font-size: 28px;
  background-color: darkgreen;
  border: 5px rgba(0, 0, 0, 0.25) solid;
  padding: 5px 10px;
  color: white;
}

.place1 {
  background-color: rgb(224, 190, 0);
}

.place2 {
  background-color: rgb(160, 160, 160);
}

.place3 {
  background-color: rgb(156, 104, 61);
}

.placeDNF {
  background-color: rgb(90, 90, 90);
}

.tableInput {
  width: 36px;
  margin: 0;
}

#player-count-button-container i {
  margin: 2px;
  font-size: 20px;
}

#view-results-button {
  font-size: 24px;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#return-button {
  font-size: 18px;
  width: 100px;
}

.back {
  background-color: darkred;
  padding: 2px 5px;
  margin: 15px;
  border-radius: 5px;
  color: lightgrey;
  width: -moz-min-content;
  width: min-content;
}

.submit {
  background-color: darkgreen;
  padding: 2px 5px;
  margin: 15px;
  border-radius: 5px;
  color: lightgrey;
  width: -moz-min-content;
  width: min-content;
}

.error {
  color: red;
}

.suggestion {
  color: gray;
}

.players {
  margin: 15px 30px;
  justify-content: center;
  max-width: 600px;
}

.players input {
  width: 100px;
  margin: 15px;
}

td input {
  width: 50px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  font-family: Arimo, Timos, Cousine;
}

td:has(input) {
  padding: 0;
}

.button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.button:active {
  filter: brightness(110%);
}

.selected {
  background-color: rgb(154, 116, 19) !important;
}

.teebox-selected {
  box-shadow: 0 0 0 3px darkblue;
}

.arrow {
  margin: 0 25px;
  color: gray;
  font-size: 36px;
  width: 50px;
}

.player-count {
  margin: 0 15px;
  color: gray;
  font-size: 24px;
  width: 50px;
}

.resume {
  padding: 2px 5px;
  margin: 15px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
  color: white;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.bordered {
  border: 3px rgba(0, 0, 0, 0.5) solid;
}

@media (min-width: 1600px) {
  option {
    font-size: 22px;
  }
  table {
    font-size: 24px;
  }
  td input {
    font-size: 24px;
  }
}
@media (min-width: 1000px) {
  option {
    font-size: 20px;
  }
  table {
    font-size: 22px;
  }
  td input {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  option {
    font-size: 14px;
  }
  table {
    font-size: 16px;
  }
  td input {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  input {
    width: 75px;
  }
}/*# sourceMappingURL=style.css.map */